body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  background: #fff;
  margin: 16px auto;
  font-size: 12px;
  padding: 1px;
}

.title {
  background: #e3f4ff;
  text-align: left;
  margin: 10px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 5px
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin:10px;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  margin:auto;
  padding: 10px 20px;
}